<q-dialog v-model="qrCodeDialog.show" position="top">
  <q-card v-if="qrCodeDialog.data" class="q-pa-lg lnbits__dialog-card">
    <lnbits-qrcode
      :value="qrCodeDialog.data.bip21"
      class="rounded-borders"
    ></lnbits-qrcode>
    <div>
      <b>Bitcoin On-Chain TX</b><br />
      <b>Expected amount (sats): </b>
      <span v-text="qrCodeDialog.data.expected_amount_sats"></span>
      <br />
      <b>Expected amount (btc): </b>
      <span v-text="qrCodeDialog.data.expected_amount_btc"></span>
      <br />
      <b>Onchain Address: </b> <span v-text="qrCodeDialog.data.address"></span>
      <br />
    </div>
    <div class="row q-mt-lg q-gutter-sm">
      <q-btn
        outline
        color="grey"
        @click="copyText(qrCodeDialog.data.address, 'Onchain address copied to clipboard!')"
        class="q-ml-sm"
        >Copy On-Chain Address</q-btn
      >
      <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
    </div>
  </q-card>
</q-dialog>
