<q-dialog v-model="reverseSubmarineSwapDialog.show" position="top">
  <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
    <q-form @submit="sendReverseSubmarineSwapFormData" class="q-gutter-md">
      <div class="q-mb-md text-caption text-white">
        Send your Lightning funds to a Bitcoin address. Perfect for withdrawing
        to cold storage, exchanges, or any service that doesn't support
        Lightning yet.
      </div>
      <q-select
        filled
        dense
        emit-value
        map-options
        v-model="reverseSubmarineSwapDialog.data.wallet"
        :options="g.user.walletOptions"
        label="Wallet *"
        :disable="reverseSubmarineSwapDialog.data.id ? true : false"
      >
      </q-select>
      <q-select
        filled
        dense
        emit-value
        map-options
        v-model="reverseSubmarineSwapDialog.data.asset"
        :options="assetOptions"
        option-value="value"
        option-label="label"
        label="Asset"
      >
      </q-select>

      <q-input
        filled
        dense
        emit-value
        :label="amountLabel(reverseSubmarineSwapDialog.data.asset)"
        v-model.trim="reverseSubmarineSwapDialog.data.amount"
        type="number"
        hint="Enter the amount you want to send (e.g., 100000 sats)"
      ></q-input>
      <div class="row">
        <div class="col">
          <q-option-group
            v-model="reverseSubmarineSwapDialog.data.direction"
            :options="directionOptions"
          >
          </q-option-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <q-checkbox
            v-model="reverseSubmarineSwapDialog.data.instant_settlement"
            value="false"
            label="Instant settlement"
          >
            <q-tooltip class="bg-grey-8" anchor="bottom left" self="top left">
              Receive funds faster (before blockchain confirmation). Recommended
              for urgent swaps.
            </q-tooltip>
          </q-checkbox>
        </div>
      </div>
      <q-input
        filled
        dense
        emit-value
        v-if="reverseSubmarineSwapDialog.data.feerate"
        v-model="reverseSubmarineSwapDialog.data.feerate_value"
        type="number"
        label="Fee rate (sats/vbyte)"
      ></q-input>
      <q-input
        filled
        dense
        emit-value
        v-model.trim="reverseSubmarineSwapDialog.data.onchain_address"
        type="string"
        v-if="reverseSubmarineSwapDialog.data.asset"
        :label="reverseSubmarineSwapDialog.data.asset.split('/')[0] + ' onchain address to receive funds'"
        hint="Enter your Bitcoin address to receive funds (e.g., bc1q...)"
      ></q-input>
      <div class="row q-mt-lg">
        <q-btn
          v-if="reverseSubmarineSwapDialog.data.id"
          unelevated
          color="primary"
          type="submit"
          label="Update Swap"
        ></q-btn>
        <q-btn
          v-else
          unelevated
          color="primary"
          :disable="disableReverseSubmarineSwapDialog()"
          type="submit"
          label="Send to Onchain"
        ></q-btn>
        <q-btn
          v-close-popup
          flat
          color="grey"
          class="q-ml-auto"
          @click="resetReverseSubmarineSwapDialog"
          >Cancel</q-btn
        >
      </div>
    </q-form>
  </q-card>
</q-dialog>
